.profile-container{
    width: 100%;
}

.profile-section {
    background-color: #fff;
    display: flex;
}

.profile-section > img {
    height: 500px;
}

.profile-section > video {
    height: 500px;
}

.profile-text-container {
    display:flex;
    flex: 4;
    align-items: center;
}

.profile-text-container > h1{
    padding: 2rem 3rem;
    flex: 1
}

.profile-text-container > div{
    flex: 3;
    padding: 2rem 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
