

.container > div {
    padding: 8px 20px;
    overflow-wrap: break-word;
    width: 10rem;
    inline-size: 10rem;
    padding-right: 40px;
    border-radius: 2px;
    outline: none;
    border: none;
    font-size: 18px;
    border: 1px solid #fff;
}

.pos {
    background-color: greenyellow;
    color: black;
}

.neg {
    background-color: red;
    color: black;
}